 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.user-info {
  margin-top: 2px;
}

.nav {
  margin-top: 5px;
  background-color: black
}

.nav a {
  color: white;
}

.nav-tabs > li > a:hover {
  background-color: #333333;
  border-radius: 0;
  border-color: transparent;
}

.container .jumbotron {
  margin-top: 14px;
}

.checkbox {
  margin-left: 20px
}

.vote-arrows {
  width: 40px;
  text-align: center;
}

.favorite {
  margin-top: 20px;
}

.voted {
  opacity: 0.5;
}